<nav class="navbar shadow-md">
  <a href="/">
    <h1 class="btn btn-ghost">もぺブログ</h1>
  </a>
</nav>

<div class="grid grid-row-1 w-9/10 md:w-2/3 xl:w-2/5 mx-auto">
  {{ range .articles }}
  <a href="/posts/{{ .Slug }}">
    <article class="card bg-base-300 shadow-sm mt-4">
      {{ if .Thumbnail }}
      <figure class="aspect-video">
        <img src="{{ .Thumbnail.Src }}" alt="{{ .Thumbnail.AltText }}">
      </figure>
      {{ end }}

      <div class="card-body">
        <h2 class="card-title">{{ .Title }}</h2>

        <footer class="card-actions justify-end">
          <div class="grid grid-row-1 gap-y-2">
            <div class="text-xs text-right">
              <div>Published on {{ date .PublishedAt }}</div>
              <div>Updated on {{ date .UpdatedAt }}</div>
            </div>

            <div class="text-right">
              {{ range .Tags }}
              <div class="badge badge-soft badge-primary">{{ .Name }}</div>
              {{ end }}
            </div>
          </div>
        </footer>
      </div>
    </article>
  </a>
  {{ end }}
</div>
