<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>もぺブログ</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <nav class="navbar shadow-md">
    <h1 class="btn btn-ghost">もぺブログ</h1>
  </nav>

  <div class="grid grid-row-1 w-9/10 md:w-2/3 xl:w-2/5 mx-auto">
    {{ range .articles }}
    <div class="card bg-base-100 shadow-sm mt-4">
      <figure class="aspect-video">
        <div class="skeleton h-full w-full"></div>
      </figure>

      <div class="card-body">
        <div class="card-title">{{ .Title }}</div>

        <div class="card-actions justify-end">
          <div class="grid grid-row-1 gap-y-2">
            <div class="text-xs text-right">
              <div>Published on {{ date .PublishedAt }}</div>
              <div>Updated on {{ date .UpdatedAt }}</div>
            </div>

            <div class="text-right">
              {{ range .Tags }}
              <div class="badge badge-soft badge-primary">{{ . }}</div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</body>
</html>
