<!DOCTYPE html>
<html lang="ja" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .title }}
  <title>{{ .title }} - もぺブログ</title>
  <meta property="og:title" content="{{ .title }}">
  {{ else }}
  <title>もぺブログ</title>
  <meta property="og:title" content="もぺブログ">
  {{ end }}
  {{ if .image }}
  <meta property="og:image" content="{{ .image }}">
  {{ end }}
  <meta property="og:site_name" content="もぺブログ">
  <meta property="og:url" content="{{ .url }}">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="/dist/style.css?{{ .cssHash }}">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3857753364740983"
     crossorigin="anonymous"></script>
</head>
<body>
  {{ embed }}
</body>
</html>
