<!DOCTYPE html>
<html lang="ja" data-theme="pastel">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/public/image/favicon.ico" sizes="96x96" />
  <link rel="icon" type="image/png" href="/public/image/favicon.png" sizes="96x96" />
  <link rel="icon" type="image/jpg" href="/public/image/favicon.jpg" sizes="96x96" />
  <link rel="apple-touch-icon" href="/public/image/favicon.png" sizes="96x96" />
  {{ if .title }}
  <title>{{ .title }} - もぺブログ</title>
  <meta property="og:title" content="{{ .title }}">
  <meta name="twitter:title" content="{{ .title }}">
  {{ else }}
  <title>もぺブログ</title>
  <meta property="og:title" content="もぺブログ">
  <meta name="twitter:title" content="もぺブログ">
  {{ end }}
  <meta property="og:site_name" content="もぺブログ">
  <meta property="og:url" content="{{ .url }}">
  <meta property="og:type" content="website">
  {{ if .image }}
  <meta property="og:image" content="{{ .image }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:image" content="{{ .image }}">
  {{ else }}
  <meta name="twitter:card" content="summary">
  {{ end }}
  <meta name="twitter:site" content="@nkyna_">
  <meta name="twitter:creator" content="@nkyna_">
  <link rel="stylesheet" href="/dist/style.css?{{ .cssHash }}">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3857753364740983"
     crossorigin="anonymous"></script>
</head>
<body>
  {{ embed }}
  <div class="my-4 w-full text-center">
    <a class="link" href="/pages/disclaimer">免責事項</a>
    <a class="link" href="/pages/privacy-policy">プライバシーポリシー</a>
  </div>
</body>
</html>
