<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .title }}
  <title>{{ .title }}</title>
  <meta property="og:title" content="{{ .title }}">
  {{ else }}
  <title>もぺブログ</title>
  <meta property="og:title" content="もぺブログ">
  {{ end }}
  {{ if .image }}
  <meta property="og:image" content="{{ .image }}">
  {{ end }}
  <meta property="og:site_name" content="もぺブログ">
  <link rel="stylesheet" href="/dist/style.css?{{ .cssHash }}">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="871a8d52-f12f-4d22-bce2-bdedd46679d9"></script>
</head>
<body>
  {{ embed }}
</body>
</html>
